doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Demo Page
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='icon', type='image/png', href='images/favicon.ico')
  body
    block header
    block content
    block scripts
    script(src="js/prism.js")
    script(src="js/main.js")