extends ./_layout.pug

block content
  .features-wrapper
    .intro
      object#box(type='image/svg+xml', data='images/box.svg')
      h1 Static web boilerplate
      h3 Opinionated stack for frontend development

    .features
        .features-list
          ul.features__ul
              li.features__li
                h2 Highlights:
              li.features__li
                | Browserfy &amp; Bower
              li.features__li
                | Sass with Susy 2, Breakpoint
              li.features__li
                | Pug (jade) Templates
              li.features__li
                | Animation with Animate.css
              li.features__li
                | Simple workflow
        .features-copy
          h2 Installation:
          pre
            code.language-jade
              | bower install
              | npm install
              | gulp build-dev
              | gulp server
          p
            | ...or get it on&nbsp;
            a(href="https://github.com/lawrence79/static-web-boilerplate") Github


