$bunting: #2d3142;
$chambray: #4F5D75;
$jungle-mist: #BFC0C0;
$crusta: #EF8354;

$bunting-light: lighten($bunting, 15);
$chambray-light: lighten($chambray, 15);
$crusta-light: lighten($crusta, 15);
$jungle-mist-light: lighten($jungle-mist, 15);

$bunting-dark: darken($bunting, 15);
$chambray-dark: darken($chambray, 15);
$crusta-dark: darken($crusta, 15);
$jungle-mist-dark: darken($jungle-mist, 15);