@import "prism";


a, a:visited {
  color: $chambray-light;
  text-decoration: none;
}

.features-wrapper {
  padding-top: 15%;
}

.intro {
  @include span(12 of 12);
  text-align: center;
  @include susy-breakpoint($bp-medium) {
    @include span(6 of 12);
  }
}


.features {
    @include span(12 of 12);
    @include susy-breakpoint($bp-medium) {
      @include span(6 of 12);
    }
  }

.features-copy {
    @include span(12 of 12);
    @include susy-breakpoint($bp-small) {
      @include span(6 of 12);
    }
    @include susy-breakpoint($bp-medium) {
      @include span(3 of 6);
    }
    @include clearfix;
}

.features-list {
    @include span(12 of 12);
    @include susy-breakpoint($bp-small) {
      @include span(6 of 12);
    }
    @include susy-breakpoint($bp-medium) {
      @include span(3 of 6);
    }
    @include clearfix;
}

.features__ul {
    padding-left: 0;
}

.features__li {
    text-align: left;
    margin-bottom: 2rem;
    list-style-position: inside;
}

.features__li:first-child {
   list-style-type: none;
   margin-left: 0;
}