@import "prism";

a, a:visited {
  color: $jungle-mist;
}

.features-wrapper {
  padding-top: 15%;
}

.intro {
  @include span(6 of 12);
}


.features {
    @include span(6 of 12);
}

.features-copy {
    @include span(4 of 6);
}

.features-list {
    @include span(2 of 6);
}

.features__ul {
    list-style: none;
}

.features__li {
    text-align: left;
}