@import "prism";

.features-wrapper {
  padding-top: 25%;
}

.intro {
  @include span(6 of 12);
}


.features {
    @include span(6 of 12 last);
}

.features-copy {
    @include span(3 of 6);
}

.features-list {
    @include span(3 of 6 last);
}

.features__ul {
    list-style: none;
}

.features__li {
    text-align: left;
}

.features__li > a {
    color: $jungle-mist;
}