@import "../lib/susy/sass/susy";

@font-face {
    font-family: 'NeueHaasGroteskDisp75';
    src: url("../fonts/NHaasGroteskDSStd-75Bd.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/NHaasGroteskDSStd-75Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/NHaasGroteskDSStd-75Bd.woff") format("woff"), url("../fonts/NHaasGroteskDSStd-75Bd.ttf") format("truetype"), url("../fonts/NHaasGroteskDSStd-75Bd.svg#d033eef77a461e8571ce594d6168a888") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'NeueHaasGroteskDisp65';
    src: url("../fonts/NHaasGroteskDSStd-65Md.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/NHaasGroteskDSStd-65Md.eot?#iefix") format("embedded-opentype"), url("../fonts/NHaasGroteskDSStd-65Md.woff") format("woff"), url("../fonts/NHaasGroteskDSStd-65Md.ttf") format("truetype"), url("../fonts/NHaasGroteskDSStd-65Md.svg#8cae22e77d75dc987716fb47bc633b42") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'NeueHaasGroteskDisp55';
    src: url("../fonts/NHaasGroteskDSStd-55Rg.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/NHaasGroteskDSStd-55Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/NHaasGroteskDSStd-55Rg.woff") format("woff"), url("../fonts/NHaasGroteskDSStd-55Rg.ttf") format("truetype"), url("../fonts/NHaasGroteskDSStd-55Rg.svg#802f1ab975b8b67acbe6aefa4e47fe12") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}


$red: #CD040B;
$teal: #82CEAC;
$sky: #ABE0F9;
$gold: #F8D362;
$salmon: #F9B295;
$primary-gray: #E4E5E3;
$supporting-gray: #F6F6F6;
$gray: #4B4B4B;

$font-regular: 'NeueHaasGroteskDisp65', sans-serif;
$font-bold: 'NeueHaasGroteskDisp75', sans-serif;
$susy: ( columns: 12, container: 80em, container-position: center, gutters: 1/4, gutter-position: inside );

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
    font-family: $font-regular;
    font-size: 1.6rem;
}

.container {
    @include container;
}

.content {
   @include span(10 of 12);
}

