// imports
@import "normalize";
@import "../vendor/susy/sass/susy";
@import "../vendor/breakpoint-sass/stylesheets/breakpoint";

// colors
@import "colors";

// mixins
@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// typography
$font-regular: 'Raleway', sans-serif;
$font-bold: 'Raleway', sans-serif;

// grid settings
$susy: (
  columns: 12,
  gutters: 1/4,
  container: 64em,
  global-box-sizing: border-box,
  gutter-position: inside
);

$bp-medium: 32em;
$bp-large: 60em;
$bp-small: 16em;

@include breakpoint-set('no query fallbacks', true);
@include border-box-sizing;

$font-color:  $jungle-mist-light;
$background-color: $bunting-dark;

// defaults
html {
  font-size: 62.5%;
}

body {
    font-family: $font-regular;
    font-size: 1.6rem;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    background-color: $background-color;
    color: $font-color;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.clearfix {
    @include clearfix;
}

.container {
    @include container;
}


// site styles
@import 'demo';

